:root {
  --white: #f3f3f3;
  --black: #1a1a1c;
  --gray: #999999;
}

/* 全体 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--white);
  color: var(--black);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 90%;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.current {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* カレンダー */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 10px;
  table-layout: fixed;
  flex-grow: 1;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid var(--black);
}
